* {
    margin: 0;
}

body {
    background-image: url(pictures/blackjack.background.png);
    background-size: cover;
    font-family: "Italianno";
    position: relative;
}

.irish-grover-regular {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}  

.italianno-regular {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
}  

/* HEADER */

header .logo {
    display: flex;
    align-items: center;
    width: 100%;
}

header a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    align-items: center;
    color: white;
    background-color: #0E592E;
    height: 50px;
    box-shadow: 5px 2px 10px black;
}

header img {
    height: 50px;
    float: left;
}

header h1 {
    font-size: 70px;
    padding-left: 10px;
    font-weight: normal;
    padding-top: 18px;
}

header ul {
    display: flex;
}

header ul li {
    font-size: 45px;
    list-style-type: none;
    display: flex;
    padding: 10px;
    padding-left: 120px;
    padding-right: 40px;
    padding-top: 18px;
}

#black {
    color: black;
}

.oval {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0E592E;
    width: 1300px;
    box-shadow: 0px 10px 20px -10px black;
    font-family: "Irish Grover";
    height: 120px;
    border-radius: 50%;
    position: relative;
}

.oval p {
    padding-top: 20px;
}

#Irish {
    font-size: 55px;
}

#no_padding {
    padding-left: 45px;
}


/* GOMBOK */

button.doublef1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E592E;
    box-shadow: inset 5px 5px 20px #0b301b;
    font-size: 60px;
    border: 1px solid #0b301b;
    border-radius: 10px;
    width: 180px;
    height: 65px;
    font-family: "Italianno";
    color: white;
    margin: 20px;
    padding-top: 10px;
    position: absolute;
    bottom: -940px;
    right: 0px;
}

button.doublef2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E592E;
    box-shadow: inset 5px 5px 20px #0b301b;
    font-size: 60px;
    border: 1px solid #0b301b;
    border-radius: 10px;
    width: 180px;
    height: 65px;
    font-family: "Italianno";
    color: white;
    margin: 20px;
    padding-top: 10px;
    position: absolute;
    bottom: -1020px;
    right: 0px;
}

button.doublef1:hover, button.doublef2:hover {
    border: 1px solid white;
}


/* JÁTÉK */

.table {
    position: absolute;
    bottom: -980px;
    right: 430px;
    width: 1050px;
}

.chair {
    position: absolute;
    bottom: -665px;
    right: 345px;
    width: 1200px;
}

.pognarbal {
    position: absolute;
    bottom: -410px;
    right: 820px;
    width: 280px;
}

.slomesz {
    position: absolute;
    bottom: -410px;
    right: 820px;
    width: 250px;
}

.slodos {
    position: absolute;
    bottom: -410px;
    right: 840px;
    width: 260px;
}


/* SZÍVEK */

.dealerheartbox {
    position: absolute;
    bottom: -80px;
    right: 2px;
}

.heart {
    width: 70px;
}

.ourheartbox {
    position: absolute;
    bottom: -1020px;
    left: 10px;
}




