* {
    margin: 0;
}

body {
    background-image: url(pictures/blackjack.background.png);
    background-size: cover;
    font-family: "Italianno";
    position: relative;
}

.irish-grover-regular {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}  

.italianno-regular {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
}  

/* HEADER */

header .logo {
    display: flex;
    align-items: center;
    width: 100%;
}

header a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    align-items: center;
    color: white;
    background-color: #0E592E;
    height: 50px;
    box-shadow: 5px 2px 10px black;
}

header img {
    height: 50px;
    float: left;
}

header h1 {
    font-size: 70px;
    padding-left: 10px;
    font-weight: normal;
    padding-top: 18px;
}

header ul {
    display: flex;
}

header ul li {
    font-size: 45px;
    list-style-type: none;
    display: flex;
    padding: 10px;
    padding-left: 120px;
    padding-right: 40px;
    padding-top: 18px;
}

#pointer:hover {
    cursor: pointer;
}

#black {
    color: black;
    cursor: default;
}

.oval {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0E592E;
    width: 500px;
    box-shadow: 0px 10px 20px -10px black;
    font-family: "Irish Grover";
    height: 120px;
    border-radius: 50%;
    position: fixed;
    left: 37%;
}

.oval p {
    padding-top: 20px;
    cursor: default;
}

#Irish {
    font-size: 55px;
}

#no_padding {
    padding-left: 45px;
    cursor: default;
}

#default {
    cursor: default;
}


/* FŐOLDAL */

.levels {
    color: white;
    background-color: #0E592E;
    width: 600px;
    height: 720px;
    border: 1px solid #0E592E;
    border-radius: 10px;
    position: fixed;
    bottom: 8%;
    left: 10%;
    cursor: default;
}

.levels #underline {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 70px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.levels p {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 50px;
}

.levels ul li{
    list-style-type: none;
    font-size: 35px;
}

.levels img {
    float: right;
    width: 110px;
    margin: 20px 70px 20px 20px;
}

.levels #főslomesz {
    height: 150px;
}

.Nehéz {
    background-color: #106937;
    width: 540px;
    height: 180px;
    border: 1px solid #106937;
    border-radius: 10px;
    margin: 0 auto 25px auto;
    box-shadow: 7px 7px 20px -7px black;
}

.Közepes {
    width: 540px;
    height: 180px;
    border-radius: 10px;
    margin: 25px auto;
}

.Könnyű {
    background-color: #106937;
    width: 540px;
    height: 180px;
    border: 1px solid #106937;
    border-radius: 10px;
    margin: 25px auto;
    box-shadow: 7px 7px 20px -7px black;
}

.rules {
    position: fixed;
    bottom: 5%;
    width: 770px;
    color: white;
    right: 9%;
    text-align: justify;
}

.rules ul li {
    list-style-type: none;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 46px;
    cursor: default;
}

#szabaly p{
    margin-top: 100px;
    font-size: 60px;
    cursor: default;
}

.rules #rules {
    position: fixed;
    top: 16%;
    margin-top: 5px;
    margin-left: -20px;
    font-size: 70px;
    cursor: default;
}

.rules button {
    margin-top: 30px;
    width: 200px;
    height: 45px;
    background-color: #0E592E;
    box-shadow: inset 5px 5px 20px #0b301b;
    font-size: 35px;
    border: 1px solid #0b301b;
    border-radius: 10px;
    font-family: "Italianno";
    color: white;
}

.rules button:hover {
    border: 1px solid white;
    background-color: #0b301b;
    box-shadow: inset 10px 10px 30px #0E592E;
    cursor: pointer;
}

button.Vissza img {
    width: 40px;
    rotate: 90deg;
    float: left;
}

button.Vissza {
    margin-left: 60px;
}

button.Tovabb {
    margin-left: 307px;
}

button.Tovabb p, button.Vissza p {
    margin-top: 3px;    
}

button.Tovabb img {
    width: 40px;
    rotate: 270deg;
    float: right;
}

/* GOMBOK */

button.doublef1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E592E;
    box-shadow: inset 5px 5px 20px #0b301b;
    font-size: 60px;
    border: 1px solid #0b301b;
    border-radius: 10px;
    width: 180px;
    height: 65px;
    font-family: "Italianno";
    color: white;
    margin: 20px;
    padding-top: 10px;
    position: fixed;
    bottom: 8%;
    right: 0%;
    cursor: pointer;
}

button.doublef2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E592E;
    box-shadow: inset 5px 5px 20px #0b301b;
    font-size: 60px;
    border: 1px solid #0b301b;
    border-radius: 10px;
    width: 180px;
    height: 65px;
    font-family: "Italianno";
    color: white;
    margin: 20px;
    padding-top: 10px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    cursor: pointer;
}

button.doublef1:hover, button.doublef2:hover, button.stop:hover {
    border: 1px solid white;
    background-color: #0b301b;
    box-shadow: inset 10px 10px 30px #0E592E;
}

button.stop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E592E;
    box-shadow: inset 5px 5px 20px #0b301b;
    font-size: 60px;
    border: 1px solid #0b301b;
    border-radius: 10px;
    width: 180px;
    height: 65px;
    font-family: "Italianno";
    color: white;
    margin: 20px;
    padding-top: 10px;
    position: fixed;
    bottom: 4%;
    right: 10%;
    cursor: pointer;
}


/* JÁTÉK */

.table {
    position: fixed;
    bottom: 3%;
    right: 25%;
    width: 980px;
}

.chair {
    position: fixed;
    top: 2%;
    right: 18%;
    width: 1200px;
}

.pognarbal {
    position: fixed;
    top: 8%;
    right: 42.8%;
    width: 280px;
}

.slomesz {
    position: fixed;
    top: 9%;
    right: 42%;
    width: 250px;
}

.slodos {
    position: fixed;
    top: 8%;
    right: 43.7%;
    width: 260px;
}


/* SZÍVEK */

.dealerheartbox {
    position: absolute;
    right: 0%;
}

.lives {
    display: flex;
    justify-content: center;
}

.heart {
    width: 50px;
    height: 50px;
    margin: 2px;
}

.heart.half {
    width: 65px;
    height: 60px;
}

.heart.empty {
    width: 50px;
    height: 45px;
    margin-top: 9px !important;
}

.lives img {
    width: 60px;
    height: 60px;
}

.ourheartbox {
    position: fixed;
    bottom: 0%; 
}

#playerLives, #opponentLives1, #opponentLives2, #opponentLives3 {
    opacity: 0;
}


/* KIÍRÁS */

.lostW1 {
    top: 35%;
    left: 36%;
    position: fixed;
    background-color: #0E592E;
    border: 1px solid #0E592E;
    border-radius: 40px;
    width: 500px;
    height: 350px;
    box-shadow: 5px 5px 30px black;
}

.lostW2 {
    top: 35%;
    left: 36%;
    position: fixed;
    background-color: #0E592E;
    border: 1px solid #0E592E;
    border-radius: 40px;
    width: 500px;
    height: 350px;
    box-shadow: 5px 5px 30px black;
}

.oval2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0E592E;
    width: 300px;
    font-family: "Irish Grover";
    height: 80px;
    border-radius: 50%;
    position: relative;
    font-size: 32px;
    color: white;
    left: 20%;
    bottom: 10%;
}

.text {
    font-size: 50px;
    text-align: center;
    font-family: "Irish Grover";
    color: white;
}

button.retry {
    color: black;
    font-family: "Irish Grover";
    background-color: #0E592E;
    border: 1px solid #0E592E;  
    font-size: 45px;
    position: absolute;
    left: 10%;
    width: 150px;
    height: 60px;
}

button.next {
    color: black;
    font-family: "Irish Grover";
    background-color: #0E592E;
    border: 1px solid #0E592E;  
    font-size: 45px;
    position: absolute;
    left: 10%;
    width: 150px;
    height: 60px;
}

button.cancel {
    color: black;
    font-family: "Irish Grover";
    background-color: #0E592E;
    border: 1px solid #0E592E;
    font-size: 45px;
    position: absolute;
    right: 10%;
    width: 150px;
    height: 60px;
}

button.retry:hover, button.cancel:hover, button.next:hover {
    border: 1px solid #0b301b;
    background-color: #0b301b;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    border: 1px solid white;
    background-color: #0b301b;
    box-shadow: inset 10px 10px 30px #0E592E;
}


/* Kártyák */

.deckcard {
    position: fixed;
    width: 90px;
    border: 1px solid white;
    border-radius: 5px;
    bottom: 24%;
    right: 32%;
}

.deckcard:hover {
    cursor: pointer;
}
